# for non-KDE and non-Gnome session
[ "$XDG_CURRENT_DESKTOP" = "KDE" ] ||
[ "$XDG_CURRENT_DESKTOP" = "GNOME" ] ||
{
	# set qt5ct platform plugin
	export QT_QPA_PLATFORMTHEME="qt5ct"

	# simulate KDE5 session for using
	# KDE services like kwallet by the
	# applications like Chromium
	export KDE_SESSION_VERSION=5
	# explicitly set generic xdg desktop
	# for make sure it using xdg-mime query
	export XDG_CURRENT_DESKTOP=X-Generic

	# to make plasma respect Qt settings
	export PLASMA_USE_QT_SCALING=1

	# set GTK+ theme
	# moved to ~/.config/gtk-3.0/settings.ini
}
