[Desktop Entry]
Categories=InstantMessaging;AudioVideo;Network;
Comment[en_US]=qTox is a powerful Tox client that follows the Tox design guidelines.
Comment=qTox is a powerful Tox client that follows the Tox design guidelines.
Exec=qtox %u
GenericName[en_US]=Tox client
GenericName=Tox client
Icon=qtox
MimeType=
Name[en_US]=qTox
Name=qTox
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=qtox
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
