[Desktop Entry]
Categories=Network;Application;
Comment[en_US]=Skype Internet Telephony
Comment=Skype Internet Telephony
Encoding=UTF-8
Exec=skype %U
GenericName[en_US]=
GenericName=
Icon=skype.png
MimeType=
Name[en_US]=Skype
Name=Skype
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-Protocols=skype
X-KDE-SubstituteUID=false
X-KDE-Username=
