[Desktop Entry]
Categories=Network;
Comment[en_US]=Official desktop version of Telegram messaging app
Comment=Official desktop version of Telegram messaging app
Encoding=UTF-8
Exec=/home/akawolf/Telegram/Telegram -- %u
GenericName[en_US]=
GenericName=
Icon=telegram
MimeType=
Name[en_US]=Telegram Desktop
Name=Telegram Desktop
Path=
StartupNotify=true
StartupWMClass=Telegram
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.23
X-KDE-SubstituteUID=false
X-KDE-Username=
